/* Styles de base */
form {
    background-color: white;
    padding: 16px;
    border-radius: 16px;
    box-shadow: 0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;
  }
  
  label {
    width: 150px;
    display: inline-block;
  }
  
  input {
    width: 250px;
    padding: 6px 12px;
    border-radius: 5px;
    border: 1px solid gray;
    font-size: 1rem;
    box-sizing: border-box;
  }
  
  .btn-primary {
    border-radius: 5px;
    padding: 6px 12px;
    background-color: #0d6efd;
    border-color: #0d6efd;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
  }
  
  /* Formulaire non valide */
  form:invalid input[type="submit"] {
    background-color: gray;
  }
  
  /* Champs valides ou invalides */
  input:invalid {
    border-color: red;
  }
  
  input:invalid + .icon-ok {
    display: none;
  }
  
  input:valid + .icon-ok {
    display: inline-block;
  }
  